/* AWAL TEMPAT WISATA */
body {
  background-color: #ffff;
}

/* Awal Judul */
.judul {
  background-color: #ffffff00;
  text-align: center;
  font-size: 4vw;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
/* Akhir Judul */
/* AKHIR TEMPAT WISATA */
